<div class="app-layout">
    <header class="app-header mat-elevation-z4">
        <div class="inner">
            <div class="app-logo">
                <img
                    class="logo-img"
                    [src]="logoSrc"
                    [alt]="logoAlt"
                />
            </div>

            <div class="content">
                <app-header
                    (onLanguageChange)="store.dispatch(SetLanguageAction($event))"
                    [currentLanguage]="(currentLanguage$ | async) || 'en'"
                >
                </app-header>
            </div>
        </div>
    </header>

    <mat-sidenav-container class="app-sidenav-container">
        @if (sidebar) {
            <mat-sidenav
                class="app-sidebar overflow-y-auto"
                mode="side"
                opened
                [style.width.px]="250"
                [style.border-radius.px]="0"
            >
                <div class="content">
                    <ng-container *ngTemplateOutlet="sidebar"></ng-container>
                </div>
            </mat-sidenav>
        }

        <mat-sidenav-content class="app-main-content">
            <div class="content-wrapper">
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>