@use 'sass:map';
@use '../../../styles/theme-colors' as theme;

@function color($palette-name, $tone) {
    @return map.get(map.get(theme.$palettes, $palette-name), $tone);
}
.page-container {
    background-color: color(neutral, 98);
    padding: 24px;
    border-radius: 12px;
    flex: 1;
    border: 1px solid color(neutral-variant, 90);
}