<app-container>
    <ng-template #sidebar>
        <app-main-layout-sidebar
            (onSelectMenuItem)="store.dispatch(SelectMenuItem($event))"
            [menuItems]="(sidebarMenu$ | async) ?? []"
            [selectedMenuItemId]="(selectedMenuItemId$ | async) ?? undefined"
        >
        </app-main-layout-sidebar>
    </ng-template>

    <ng-template #content>
        <div class="page-container">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</app-container>