.example-page-container {
    padding: 20px 20px 0px 20px;
    margin: 20px 20px 0px 20px;

    p {
        line-height: 1.6;
        color: #343a40;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
