/* filepath: c:\Users\abilu\UniversityProject\app\src\styles.scss */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

app-root {
    display: block;
    height: 100%;
}