@use '@angular/material' as mat;
@use './styles/theme-colors' as m3-theme;

// materials
html {
  @include mat.theme((
    color: (
      primary: m3-theme.$primary-palette,
      tertiary: m3-theme.$tertiary-palette,
      ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100%;
}