.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    &.button {
        color: #696969;
    }

    &:hover {
        background-color: #e9ecef;
        color: #272727;
    }

    &.active {
        background-color: #0d6efd;
        color: #fff;
    }

    &.active {
        background-color: #e2e2e2;
        color: #272727;
    }
}
