<mat-toolbar class="app-header-toolbar">
    <div class="app-header-left">
        <button
            mat-icon-button
            type="button"
            class="app-notifications-btn"
            [matMenuTriggerFor]="languageMenu"
        >
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #languageMenu="matMenu">
            @if (currentLanguage != 'ua') {
                <button
                    mat-menu-item
                    type="button"
                    (click)="onLanguageChange.emit({ language: 'ua' })"
                >
                    <span>{{ 'UKRAINIAN' | translate }}</span>
                </button>
    
            }

            @if (currentLanguage != 'en') {
                <button
                    mat-menu-item
                    type="button"
                    (click)="onLanguageChange.emit({ language: 'en' })"
                >
                    <span>{{ 'ENGLISH' | translate }}</span>
                </button>
            }
        </mat-menu>


        <button
            mat-icon-button
            type="button"
            class="app-notifications-btn"
            aria-label="Notifications"
            matBadgeColor="warn"
            [matBadge]="notificationsCount"
            [matBadgeHidden]="!notificationsCount"
            matBadgePosition="above after"
        >
            <mat-icon>notifications</mat-icon>
        </button>
    </div>

    <div class="app-header-right">
        <button
            mat-button
            type="button"
            class="app-user-btn"
            [matMenuTriggerFor]="userMenu"
        >
            <div class="app-user-avatar">
                <mat-icon>account_circle</mat-icon>
            </div>
            
            <span class="app-user-name">{{ username }}</span>
            
            <div class="app-user-chevron">
                <mat-icon iconPositionEnd>expand_more</mat-icon>
            </div>
        </button>
    </div>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item type="button">
            <mat-icon>person</mat-icon>
            <span>{{ 'PROFILE' | translate }}</span>
        </button>

        <button mat-menu-item type="button">
            <mat-icon>logout</mat-icon>
            <span>{{ 'LOG_OUT' | translate }}</span>
        </button>
    </mat-menu>
</mat-toolbar>